.login-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.carousel.slide div{

  max-height: 20%; /* Defina a altura máxima desejada */
    width: auto; /* Mantém a proporção da imagem ao redimensionar */

  

}


.carousel.slide img {
  max-height: 20%; /* Defina a altura máxima desejada */
  width: auto; /* Mantém a proporção da imagem ao redimensionar */
  object-fit: cover; /* Garante que a imagem cubra a área disponível */
}
.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    margin-top: 10px;
}



/* Definição de estilos para o corpo do site */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
  }
  
  /* Definição de estilos para o cabeçalho */
  header {
    background-color: #2196F3;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav li {
    margin-left: 20px;
  }
  
  header nav li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  header nav li a:hover {
    text-decoration: underline;
  }
  
  /* Definição de estilos para o corpo principal */
  main {
    margin: 20px;
  }
  
  main h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .produto {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  }

  
  .botao-comprar {
    display: inline-block;
    background-color: #2196F3;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  
  .botao-comprar:hover {
    background-color: #0d8bf2;
  }
  
  /* Definição de estilos para o rodapé */
  footer {
    background-color: #eeeeee;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  .produto {
    width: 300px;
    height: 450px;
    margin: 20px;
    text-align: center;
  }
  
  .produto h3 {
    font-size: 20px;
  }
  
  .produto p {
    font-size: 18px;
  }
  
  
  /* Estilizando o formulário */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  form input[type="text"],
  form input[type="number"],
  form input[type="file"],
  form button[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Estilizando a tabela */
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  thead {
    background-color: #007bff;
    color: #fff;
  }
  
  thead th {
    padding: 10px;
  }
  
  tbody td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  tbody td img {
    max-width: 100px;
  }
  
  tbody td button[type="submit"] {
    background-color: #dc3545;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
  }
  
  tbody td form {
    display: flex;
    justify-content: center;
  }
  
  tbody td form input[type="text"],
  tbody td form input[type="number"],
  tbody td form input[type="hidden"],
  tbody td form button[type="submit"] {
    padding: 5px;
    margin-right: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  tbody td form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  /*tabela na horzontal */
  td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
  }