/* Definição de estilos para o corpo do site */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}

/*estilo login.php */
.view {
  height: 100vh;
}
.error {
  color: red;
  margin-top: 10px;
}
 
/*estilo index.php */
main {
  background-color: #f5f5f5;
}

main h2 {
  font-size: 24px;
  margin-left: 20px;
}
  
.produto {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

  
.botao-comprar {
  display: inline-block;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}
  
  /* Definição de estilos para o rodapé */
  footer {
    background-color: #eeeeee;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  .produto {
    width: 250px;
    height: 450px;
    margin: 20px;
    text-align: center;
    position: relative;
  }
  .status-produto {
    position: absolute;
    bottom: 0; 
    left: 0;
  }

  .produto h3 {
    font-size: 18px;
  }
  
  .produto p {
    font-size: 20px;
  }
  
  
  /* Estilizando o formulário */ 
  form input[type="text"],
  form input[type="number"],
  form input[type="file"],
  form button[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  form button[type="submit"] {
    /*background-color: #007bff;*/
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Estilizando a tabela */
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  thead {
    background-color: #007bff;
    color: #fff;
  }
  
  thead th {
    padding: 10px;
  }
  
  tbody td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  tbody td img {
    max-width: 100px;
  }
  
  tbody td button[type="submit"] {
    /*background-color: #dc3545;*/
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
  }
  
  tbody td form {
    display: flex;
    justify-content: center;
  }
  
  tbody td form input[type="text"],
  tbody td form input[type="number"],
  tbody td form input[type="hidden"],
  tbody td form button[type="submit"] {
    padding: 5px;
    margin-right: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  tbody td form button[type="submit"] {
    /*background-color: #007bff;*/
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  /*tabela na horzontal */
  td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
  }
 
 
  header li a:hover{
    background-color: white;
    text-decoration: none;
  }
  .search-container {
    position: absolute;
    display: inline-block;
  }
  
  .search-input {
    padding-right: 40px; /* Espaçamento para o botão */
  }
  
  .search-button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }
  .my-button {
    width: 50px; /* Ajuste a largura do botão */
    height: 15px; /* Ajuste a altura do botão */
    padding: 5px 10px; /* Ajuste o espaçamento interno do botão */
    font-size: 7px; /* Ajuste o tamanho da fonte do botão */
  }